body {
  text-align: center;
  margin-top: 5rem;
}

h1 {
  margin-bottom: 3rem;
}

input {
  margin-right: 2rem;
  height: 2.5rem;
  width: 600px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

ul{
    display: inline;
}

li{
    margin: 1.5rem;
}